.main-content.container {
  margin: 1em auto; }
  .main-content.container .catalog-search {
    width: 50%; }
  .main-content.container .fav-section {
    border-left: 1px solid rgba(0, 0, 0, 0.125); }
  .main-content.container .card .card-img-top {
    width: 100%; }
  .main-content.container .card .badge {
    color: #000000;
    position: absolute;
    bottom: 0; }
  .main-content.container .mini-form {
    width: 380px;
    margin: 5em auto; }
    .main-content.container .mini-form button {
      width: 100%; }
  .main-content.container .profile div {
    margin: 2em auto; }
  .main-content.container .profile img {
    height: 256px;
    border-radius: 50%;
    margin: 1em auto; }
  .main-content.container .profile span {
    display: block;
    font-weight: bold; }
  .main-content.container .profile button {
    width: 70%; }
