<!DOCTYPE html>
<html lang="en">

<head>
    <title>More Recipes</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <a class="navbar-brand" href="#">More Recipes</a>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup.html">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signin.html">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-content container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline my-2" action="#">
                    <input class="form-control mr-sm-2 catalog-search" type="text" placeholder="Find a recipe e.g. Kunbite's pasta">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                            <div class="card-block">
                                <h4 class="card-title">Recipe</h4>
                                <p class="card-text">Brief description of the recipe</p>
                                <div class="row my-2">
                                    <div class="col-md-4">
                                        <img src="assets/favorite.png" />
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/upvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="assets/downvote.png" />
                                        <span class="badge badge-light">4</span>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 fav-section">
                <h5 class="my-2 text-center">Most Favorited Recipes</h5>
                <div class="col-md-12">
                    <div class="card my-2">
                        <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                        <div class="card-block">
                            <h4 class="card-title">Recipe</h4>
                            <p class="card-text">Brief description of the recipe</p>
                            <div class="row my-2">
                                <div class="col-md-4">
                                    <img src="assets/favorite.png" />
                                </div>
                                <div class="col-md-4">
                                    <img src="assets/upvote.png" />
                                    <span class="badge badge-light">4</span>
                                </div>
                                <div class="col-md-4">
                                    <img src="assets/downvote.png" />
                                    <span class="badge badge-light">4</span>
                                </div>

                            </div>
                            <div class="text-center">
                                <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card my-2">
                        <img class="card-img-top" src="assets/chicken.jpg" alt="Recipe Image">
                        <div class="card-block">
                            <h4 class="card-title">Recipe</h4>
                            <p class="card-text">Brief description of the recipe</p>
                            <div class="row my-2">
                                <div class="col-md-4">
                                    <img src="assets/favorite.png" />
                                </div>
                                <div class="col-md-4">
                                    <img src="assets/upvote.png" />
                                    <span class="badge badge-light">4</span>
                                </div>
                                <div class="col-md-4">
                                    <img src="assets/downvote.png" />
                                    <span class="badge badge-light">4</span>
                                </div>

                            </div>
                            <div class="text-center">
                                <a href="recipedetail.html" class="btn btn-primary">View Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>