<!DOCTYPE html>
<html lang="en">

<head>
    <title>More Recipes</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md  bg-faded">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <a class="navbar-brand" href="#">More Recipes</a>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="myfavorites.html">My Favorites</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">My Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="myprofile.html">My Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-content container">
        <div class="row">
            <div class="col-md-8 my-2">
                <h4>My Recipes</h4>
            </div>
            <div class="col-md-4 text-right">
                <form class="form-inline my-2" action="#">
                    <input class="form-control mr-sm-2 catalog-search" type="text" placeholder="Search My Recipes">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-2">
                <a href="#" class="btn btn-primary">Add New</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-12">
                <table class="table my-recipes">
                    <tbody>
                        <tr>
                            <td>
                                <h5><a href="modifyrecipe.html">Recipe Title</a></h5>
                                <p>Some part of the recipe content will be displayed here so the user can have a preview of the recipe.</p>
                                <section class="text-muted small">Last Modified On: January 19, 2017</section>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><a href="modifyrecipe.html">Recipe Title</a></h5>
                                <p>Some part of the recipe content will be displayed here so the user can have a preview of the recipe.</p>
                                <section class="text-muted small">Last Modified On: January 19, 2017</section>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><a href="modifyrecipe.html">Recipe Title</a></h5>
                                <p>Some part of the recipe content will be displayed here so the user can have a preview of the recipe.</p>
                                <section class="text-muted small">Last Modified On: January 19, 2017</section>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><a href="modifyrecipe.html">Recipe Title</a></h5>
                                <p>Some part of the recipe content will be displayed here so the user can have a preview of the recipe.</p>
                                <section class="text-muted small">Last Modified On: January 19, 2017</section>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5><a href="modifyrecipe.html">Recipe Title</a></h5>
                                <p>Some part of the recipe content will be displayed here so the user can have a preview of the recipe.</p>
                                <section class="text-muted small">Last Modified On: January 19, 2017</section>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted small">&copy; 2017 Adeyinka Adekunbi &bull; Andela Bootcamp Cycle 28</span>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>